# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
env/
build/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
*.egg-info/
.installed.cfg
*.egg

# -------------------------------------------------------------
# 🚀 CRITICAL SECURITY ADDITION
# -------------------------------------------------------------
# Ignore the file containing SECRET_KEY, email passwords, etc.
.env
# -------------------------------------------------------------

# Django
*.log
*.pot
*.pyc
db.sqlite3
media/
product_photos/

# Ignore collected static files directory (if used)
static_root/
staticfiles/

# Virtual Environment
env/
venv/
ENV/

# IDE
.idea/
.vscode/
*.swp
*.swo

# Node
node_modules/
npm-debug.log

# macOS
.DS_Store
.AppleDouble
.LSOverride

# Tailwind
static/css/output.css